body
{
	margin: 0px;
}
body,td,table,th
{
    font-weight: normal;
    font-size: 10pt;
    font-family: verdana, Arial, sans-serif;
}
blackborder
{
	border-style:solid;
	border-width: 2px;
	border-color: DarkBlue;
}
table.blackborder
{
	border-style:solid;
	border-width: 2px;
	border-color: DarkBlue;
}
.smallbody 
{
	FONT-SIZE: 8pt;
}
a
{
	color:#000055;
}
A.hover
{
	color:#FF0000;
}
A.visited
{
	color:#808080;
}
pre
{
    FONT-WEIGHT: bold;
    FONT-SIZE: x-small;
    BACKGROUND: #eeeeee;
    COLOR: darkred;
    FONT-FAMILY: Courier New
}
h1
{
    MARGIN-TOP: 20px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    MARGIN-BOTTOM: 5pt;
    PADDING-BOTTOM: 10px;
    COLOR: darkred;
    PADDING-TOP: 0pt;
    FONT-FAMILY: Verdana;
}
h2
{
    MARGIN-TOP: 20px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    MARGIN-BOTTOM: 5pt;
    PADDING-BOTTOM: 0px;
    COLOR: darkblue;
    PADDING-TOP: 0pt;
    FONT-FAMILY: Verdana
}
h3
{
    MARGIN-TOP: 15px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11.25pt;
    MARGIN-BOTTOM: 5pt;
    PADDING-BOTTOM: 0pt;
    COLOR: steelblue;
    PADDING-TOP: 0pt;
    FONT-FAMILY: Verdana
}
A
{
	color:Darkblue;
}
A:visited
{
    COLOR: maroon;
}
A:hover
{
    COLOR: red;
}
INPUT
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
}
SELECT
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
}
FORM
{
	margin-bottom: 1px;
	margin-top:1px;
}
TABLE
{
 	BORDER-COLLAPSE: collapse;
	BORDER-COLOR: Black;
	Border-Color: lightgrey;
}
TD
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
}
HR
{
	HEIGHT: 1px;
	COLOR: DarkBlue;
	Background: Darkblue;
	Border: 0;
}

.banner
{
	font-weight:bold;
	background: #003399 url(images/floralbackground_sm.gif) ;
	padding: 4px;
	white-space:nowrap;
	color: white;
	height: 17px;
}
.bannertext
{
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 2px;

}
.bannertext:visited
{
	color: White;
}
.bannertext:hover
{
	color: #003399;
	background-color: white;
	background-image:url(images/MenuHighlight.png) repeat;
}

.subtitle
{	
	padding-left:8px;
	color:#FFCC00;
}

/* Block backgrounds for headers etc. */
.menuband, .gridheader, .buttonlinks, .blockheader
{
	color:Cornsilk;
	background-color: #003399;
	font-weight: bold;
}
.gridheader 
{
	font-weight: bold;
	text-decoration: none;
	background-image:url(images/floralbackground_sm.gif);
}
.gridnormal
{
	background-color: WhiteSmoke;
}
.gridalternate
{
	background-color:#B5C7D6;
}
.blockheader
{
	text-align:center;
	height:22px;
	font-weight: bold;
}
.code
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    BACKGROUND: #eeeeee;
    COLOR: black;
    FONT-FAMILY: Courier New;
}
.bannertext
{
	color: White;
	font-weight: bold;
	text-decoration: none;
}
.bannertext:visited
{
	color: White;
	font-weight: bold;
	text-decoration: none;
}
.bannertext:hover
{
	color: #003399;
	background: White;
	background-image:url(Images/MenuHighlight.png);
	font-weight: bold;
	text-decoration: none;
}
.notebox
{	
	padding: 10px;
	background: lightsteelblue;
	border: solid 1px navy;
}
.containercontent
{
	padding: 20px;
	
}
.toolbarcontainer
{
	background: #eeeeee;
	padding: 5px;	

}
.hoverbutton  
{
	text-decoration:none;
	padding: 4px; 
	border: solid 1px #eeeeeee; 
	font-size: 8.25pt;
}
.hoverbutton img
{
	margin-top: 3px;
}
.hoverbutton:hover  
{
	background: white url(images/menuhighlight.png);  
	border: solid 1px silver; 
	color: navy;
}     
